---
---
@import "{{ site.baseurl }}{% link css/webfonts.css %}";
@import "{{ site.baseurl }}{% link css/syntax.css %}";

/* color/style overrides */
a { color: #900; text-decoration: none; }
a:hover { color: black; }
#navbarText > ul > li > a { color: #900; }
#navbarText > ul > li > a:hover { color: #000; }
.btn-primary { background-color: #ff4141; border-color: #ff4141; }
.btn-primary:hover { background-color: #000; border-color: #000; }
h1 { font-family: Raleway, var(--bs-font-sans-serif); font-weight: 500; }
h5 { font-family: ProdigySans; font-weight: normal; }
code { padding: .2rem .4rem; background-color: #f8f8f8; border-radius: .25rem; }
pre code { padding: 0; background-color: transparent; border-radius: 0; }
pre { padding: 0.5rem 0.5rem; background-color: #f8f8f8; border-radius: .5rem; }
.container > h1:first-child { padding-bottom: 0.4rem; border-bottom: 1px solid #ccc; }
blockquote { background: #f8f8f8; border-left: 0.2rem solid #ccc; padding-left: 0.4rem; }

/* wordmark and name */
#xmonadWordmark {
    display: inline-block;
    text-align:left;
}
.name { color: darkgrey; font-size: 80px; }
.name::first-letter { color: black; }

/* lists columns */
.list-col-3 > ul { column-count: 3; }
.list-col-4 > ul { column-count: 4; }

/* center images */
.container img { display: block; margin-left: auto; margin-right: auto; }

/* github sponsors */
svg.github-sponsors { fill: #ea4aaa !important; height: 1em; }
