---
---
@import "{{ site.baseurl }}{% link css/font-raleway.css %}";

/* color/style overrides */
a { color: #900; text-decoration: none; }
a:hover { color: black; }
#navbarText > ul > li > a { color: #900; }
#navbarText > ul > li > a:hover { color: #000; }
.btn-primary { background-color: #900; border-color: #900; }
.btn-primary:hover { background-color: #000; border-color: #000; }
h1, h2 { font-family: Raleway, var(--bs-font-sans-serif); font-weight: 500; }
code { padding: .2rem .4rem; background-color: #f8f9fa; border-radius: .25rem; }
pre code { padding: 0; background-color: transparent; border-radius: 0; }

/* logo and name */
#xmonadLogo {
    display: inline-block;
    max-width: 35px;
    width: auto;
    height: auto;
}
.name { color: darkgrey; font-size: 80px; }
.name::first-letter { color: black; }

/* lists columns */
.list-col-3 > ul { column-count: 3; }
.list-col-4 > ul { column-count: 4; }

/* center images */
.container img { display: block; margin-left: auto; margin-right: auto; }
